@media(max-width: 760px) {
    .play {
        display: none;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;

    }

    .copyright {
        display: block;
        margin-bottom: 8px;
    }

    .footer-link:first-child {

        margin-left: 0;
    }
    @media(max-width: 540px) {
        .menu-btn{
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            right: 35px;
            top: 40px;
            background-color: #fff;
            border:none;
            cursor: pointer;

        }
        .menu-btn:before{
            content:'';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: #fff;
            margin-top: -18px;
            transition: transform 0.2s;
        }
        .menu-btn:after{
            content:'';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: #fff;
            margin-top: -9px;
            transition: transform 0.2s;
        }
        .menu-btn-activ{
            height: 0;
        }
        .menu-btn-activ:before{
            transform: rotate(45deg);
            margin-top: 0;
        }
        .menu-btn-activ:after{
            transform: rotate(-45deg);
            margin-top: 0;
        }
        .header{
            display: none;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 0;
            background-color: #9D2929;
            width: 200px;
            padding-bottom: 40px;
        }
        .header-activ{
            display: flex;
        }
        .logo{
            margin-bottom: 25px;
        }
        .menu-list{
            margin: auto;
            order: 2;
            display: flex;
            flex-direction: column;
            align-items:center;
           
        }
        .menu-link{
            margin-right: 0;
            margin-bottom: 17px;
        }
        .social{
            order: 1;
            margin-bottom: 22px;
        }
        .social-link:first-child{
            margin-left: 0;
        }
        .swiper-container{
            width: 80%;
        }
        .main-content{
            margin-top: 225px;
        }
        .main-tytle{
            font-size: 56px;
        }
        .series{
            width: 80%;
        }
    }
}